header{
    background-color:#c04141;
    height: 60px;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none !important;
}
.dsmovie-nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.imgLogo{
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    width: 1300px;
    height: 400px;
    display: block;
    margin: 0 auto;
}
.dsmovie-nav-content h1{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}
.dsmovie-contact-container{
    display: flex;
    color: white;
}
.dsmovie-contact-link{
    margin: 0 0 0 10px;
}
a{
    text-decoration: none;
}